build/

data/Lora-Regular.ttf
data/PlayfairDisplay-SemiBold.ttf
data/arialbd.ttf
data/arialbi.ttf
data/ariali.ttf
data/ariblk.ttf
data/fingertips.grains
data/fingertips_44100_FLOAT.wav
data/fingertips_44100_PCM_24.wav
data/fingertips_44100_PCM_32.wav
data/fingertips_44100_PCM_U8.wav
data/fingertips_48000_FLOAT.wav
data/fingertips_48000_PCM_16.wav
data/fingertips_48000_PCM_24.wav
data/fingertips_48000_PCM_32.wav
data/fingertips_48000_PCM_U8.wav
data/fingertips_96000_FLOAT.wav
data/fingertips_96000_PCM_24.wav
data/fingertips_96000_PCM_32.wav
data/fingertips_96000_PCM_U8.wav
data/fingertips_transformed.wav
data/fingertips_old.grains
data/test_input.data
data/test_output.data
data/test_atlas.bmp
data/test/
!data/test/fft_test_signal.float
!data/test/ifft_test_signal.float
data/log/

src/*.txt
onnx_build_debug.txt

sw.js

**/.DS_Store

# ignore emacs turds
*.*~
\#*\#
.\#*
src/*.*~
src/\#*\#
src/.\#*

emacs.bat
src/emacs.bat
src/shell.bat

src/test.py
src/test_czt.py
